*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */

}

.container {
    display: flex;
    width: 970;
    height: auto;
}

    .box {
        width: 300px;
        


    }


h3 {
    padding: 2px;
    border: 1px solid grey;
}

ul li {
    list-style: none;
    padding: 2px;
    border: 1px solid grey;
}



