<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
</head>
<body>

    
    
    <div class="container">
       <div class="box"> 
           <h3>First Name</h3>
            {% for users in users %}
            <ul>
                <li>{{ users['name'] }}</li>
            </ul>   
            {% endfor %}
        </div>

           <div class="box">
               <h3>Last Name</h3>
                {% for users in users %}
                <ul>
                    <li>{{ users['lname'] }}</li>
                </ul>
                {% endfor %}
            </div>

            <div class="box">
                <h3>Full Name</h3>
                {% for users in users %}
                    <ul>
                        <li>{{ users['flname'] }}</li>
                    </ul>
                {% endfor %}
            </div>
    </div>

</body>
</html>