<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <p>Welcome [userName]</p>
        <p>Tasks Name</p>
        <p>Tasks Desc</p>
        <p>Uploaded by</p>
        <p>created by</p>
        <p>Type of Tasks(ugency)</p>
        <p>LogOut</p>
        <p>back to dashboard</p>
        <p>accept task</p>
        <p>decline task</p>
    </body>
</html>

