<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_style2.css' %}">
</head>
<body>
    
    <div class="bigbox">
        <h1>Submitted Info</h1>
        <div class="box">
            
            <ul>
                <li>Name:</li>
                <li>Location</li>
                <li>Favorite Language</li>
                <li>Comment</li>
        
            </ul>
            <ul>
                <li>{{user_name}}</li>
                <li>{{location}}</li>
                <li>{{language}}</li>
                <li>{{comment}}</li>
            </ul>
            
        </div>
       <input type="button" value="back">
    </div> 
    

    
</body>
</html>