<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time_Zone</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'my_style.css' %}">
</head>
<body>

    <div class="container">
        <h2>The current time and date:</h2>

        <p id="mountain"></p>

        <script>
            var d = new Date();
            document.getElementById("mountain").innerHTML = d;
        </script>
    </div>

</body>
</html>