<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/customerDashboardPage.css' %}"
    />
  </head>

  <body>
    <div class="welcomeBox">
      <h3>
        <a href="/dashboard"><span class="logoName"> AutoBuyer.com</span> </a>
      </h3>
      <div class="links">
        <a href="/inventory">Inventory</a>
        <a href="/buy">Buy</a>
        <a href="/sell">Sell</a>
        <a href="/trade">Trade</a>
        <a href="/logged_out">Log Out</a>
      </div>
    </div>

    <div class="container">
      <div class="myStuff">
        <p>My Profile:</p>
        <p>My Purchases:</p>
        <p>My Trade-Ins:</p>
        <p>My Consignments:</p>
        <p>My Messages:</p>
        <a href="#">My Settings</a>
      </div>
    </div>

    <footer>
      <p>
        Contact us: <a href="#">Email</a> |
        <a href="#">Phone: 1-800-AutoBuy</a> |
        <a href="#">Customer Support</a>
      </p>
    </footer>
  </body>
</html>
